{% extends 'login/base.html' %}
{% load static %}
{% load compile_static %}

{% block title %}{{ form.page_title }}{% endblock %}
{% block links %}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.less'|compile %}" type="text/css" media="screen" title="no title" charset="utf-8"/>
{% endblock %}

{% block header %}{% if form.errors %}<p>{{ form.bad_connect }}</p>{% endif %}{% if next %}{% if user.is_authenticated %}<p>{{ form.bad_access }}</p>{% else %}<p>{{ form.not_connected }}<p>{% endif %}
{% endif %}{% endblock %}

{% block content %}
  <figure role="logo"></figure>
    <section role="window" class="window-login">
      <h1>{{ form.title_form }}</h1>
      {% if next %}
      <form action="{{ request.path }}?next={{ next }}" method="post">
      {% else %}
      <form action="{% url 'login' %}" method="post">
      {% endif %}
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        {{ form.button_userconnect }}
      </form>
    </section>
{% endblock %}
  
{% block footer %}{% endblock %}
{% block scripts %}<!-- No Scripts -->{% endblock %}
