/*fichier logo.less*/ 
/*GPL V3*/

// Variables
@logopicture: url('/static/img/logo.svg');

figure {
    width: 213px;
    height: 64px;
    background: @logopicture no-repeat;
    background-size: 210px 60px;
    margin: 30px auto;
}


